 /* About us */
 .about-image {
     width: 100%;

 }
 .clamped-text {
     max-height: 250px;
     overflow: hidden;
     mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
 }
 /*--counter--*/
 .counter-card {
  background: #fff;
  border-radius: 12px;
  padding: 28px 10px;
  height: 100%;
}

.counter-number {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0;
  color: #005b9b;
}

.counter-label {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}
/*--Vission Mission--*/
.visionMission-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


 /* Mobile View */
 @media (max-width: 768px) {
  .section-heading{
    text-align: center;
  }
 }

 @media (max-width: 480px) {
   .section-heading{
    text-align: center;
  }
  /*--vission mission--*/
  .visionMission-section{
   padding: 10px;
}
 }