.footer {
    background: #083b5c;
    color: #ffffff;

}

.footer-container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px 0 50px;
}

.footer-left,
.footer-right {
    flex: 1;
    min-width: 300px;
}

.footer-logo {
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

.footer-desc {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.footer-title {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-links,
.footer-contact {
    list-style: none;
    padding: 0;
    margin: 0 0 25px;
}

.footer-links li,
.footer-contact li {
    font-size: 18px;
    margin-bottom: 14px;
    cursor: pointer;
}

.footer-socials span {
    font-size: 22px;
    margin-right: 15px;
    cursor: pointer;
}

.footer-contact .icon {
    margin-right: 12px;
    font-size: 16px;
}

.footer-bottom {
    text-align: center;
    font-size: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0 15px;
    background-color: black;
}

/* MOBILE */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-left,
    .footer-right {
        width: 100%;
    }
}