body {
  background-color: #f8f9fa;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 2.5rem !important;
}

p {
  font-size: 18px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.headingPart1 {
  color: #00375d !important;
}

.headingPart2 {
  color: #f77a0c !important;
}

.headingHero1 {
  color: #f77a0c !important;

}

.headingHero2 {
  color: #ffffff !important;

}

/*--HeroBanner--*/
.hero-banner {
  position: relative;
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero-mask {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.60);
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  max-width: 700px;

}

.hero-text h2 {
  font-weight: 900;
}

/* Advantages-section */
.advantages-img {
  text-align: center;
}

.adv-img-desktop {
  display: block;
}

.adv-img-mobile {
  display: none !important;
}

.advantages-img img {
  width: 100%;
  height: auto;
  display: block;
}
/*--Spinner--*/
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #f77a0c;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  h2 {
    font-size: 2rem !important;
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  /*--HeroBanner--*/
   .hero-banner {
    max-height: 30vh;
  }

  .hero-text h2 {
    font-size: 22px !important;
  }

  /*advantages section*/
  .adv-img-desktop {
    display: none !important;
  }

  .adv-img-mobile {
    display: block !important;
  }

  /*
  body,
  html {
    overflow-x: hidden !important;
  }

*/

}

@media (max-width: 480px) {
h2 {
  font-size: 1.8rem !important;
}

p {
  font-size: 12px;
}

  .hero-banner {
    max-height: 25vh;
  }

  .hero-text h2 {
    font-size: 14px !important;
    text-align: start;
  }


}