body {
  background-color: #f8f9fa;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 2.5rem !important;
}

p {
  font-size: 18px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.headingPart1 {
  color: #00375d !important;
}

.headingPart2 {
  color: #f77a0c !important;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem !important;
  }

  p {
    font-size: 14px;
  }
/*
  body,
  html {
    overflow-x: hidden !important;
  }

*/

}