.navBar {
  margin: 0 200px;
}

.nav-link {
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000 !important;
  padding: 6px 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #f8880c;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 80%;
  margin-left: 7px;
}

/* MOBILE FIXES */
@media (max-width: 991px) {
  .navBar {
    margin: 0 16px;
  }

  .navbar-brand img {
    height: 55px;
  }


  .nav-link {
    font-size: 1rem;
    padding: 6px 0;
    border-bottom: #000 0.5px solid;
  }

  .nav-link::after {
    bottom: 5px;
    
  }
  .nav-link:hover::after,
.nav-link.active::after {
  width: 12%;
  margin-left: 0px;
}

}
