.navBar {
  margin: 0px 200px;
}

.nav-link {
  position: relative;
  padding: 0px 0px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.8px;
  width: 0%;
  background-color: #f8880c;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 80%;
  margin-left: 7px;
}

.nav-link.active::after {
  width: 80%;
  margin-left: 7px;
}


.nav-mobile-list .nav-item {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

@media (min-width: 992px) {
  .nav-mobile-list .nav-item {
    border: none;
    padding: 0;
  }
}